%li{class: "#{user.id == message.user_id ? 'sent' : 'replies'}"}
  %img{alt: '', src: 'http://emilcarlsson.se/assets/mikeross.png'}
  %p
    = message.body.to_s
    %br
    = message.created_at.strftime("%H:%M %p")
  -# = message.user.name
